a {
color: white;
text-decoration: none;
transition: all 0.3s;
line-height: 47px;
}
p{
line-height: 27px;
}
a:hover, a:focus {
text-decoration: none;
}

.form-control {
background: #212529;
border-color: #545454;
}

.form-control:focus {
background: #212529;
}

footer {
background: #212529;
}


/* ==========================================
CUSTOM UTILS CLASSES
========================================== */
body, html {
height: 100%;
}
